<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Movie Search Feed
  </h1>
  <label for='title'>Enter Movie Title:</label>
  <input type="text" id='title' (change)="setTitle($event)">
  <button (click)='getMovieData()'>Search</button>
  <div class='result'> Result: </div>
  <div *ngIf="resultsExist">
      <div *ngFor="let movie of result; index as i">
          <img src="{{movie.poster}}">
          <span>{{movie.title}}</span>
        </div>
  </div>
  
</div>

